#TODO
to_do_list.txt

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Databases
database/*.db
dist/Database/

# PyInstaller
build/
dist/
*.spec

# VS Code
.vscode/

# Temporary
tempCodeRunnerFile.py

# Accidental files
tackedwidget_content_area.addWidget(machine2_user_page.ui)